@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors";

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont.ttf);
}

html,body {
  height: 100%;
}

body {
  font-family: Inter, serif;
  background-color: $off-black;
}

.dark-grey-background {
  background-color: $dark-grey;
}

.color-green {
  color: $green;
}

.button-link {
  @apply py-3 rounded-lg text-sm font-bold;
  background-color: $grey;
  color: white;
}

.button-link:hover {
  @apply cursor-pointer;
  background-color: $green;
  color: $dark-grey;
}
